<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>cardano-node</string> <!-- org.mongodb.mongodb perhaps? -->

    <key>RunAtLoad</key>
    <true/>

    <key>StartInterval</key>
    <integer>20</integer>

    <key>StandardErrorPath</key>
    <string>/Users/${USER}/cardano-node/stderr.log</string>

    <key>StandardOutPath</key>
    <string>/Users/${USER}/cardano-node/stdout.log</string>

    
    <key>ProgramArguments</key>
    <array>
            <string>/usr/local/bin/cardano-node</string>
            <string>run</string>
            <string>--config=/Users/${USER}/cardano-node/configuration/cardano/mainnet-config.json</string>
            <string>--database-path=/Users/${USER}/cardano-node/data/db</string>
            <string>--topology=/Users/${USER}/cardano-node/configuration/cardano/mainnet-topology.json</string>
            <string>--port=3001</string>
            <string>--socket-path=/Users/${USER}/cardano-node/node.socke</string>
    </array>
</dict>
</plist>

